*
{
	box-sizing: border-box;
}
html
{
	background-color: rgb(29,172,151);
}

.head
{
	width: auto;
	height: 80px;
	
	border: 3px solid red;
}
.sec
{
	width: auto;
	height: 160px;
	margin-top: 10px;
	/*float: left;*/
	
	
	border: 3px solid red;
}

#sec1
{
	background-color: rgb(58,80,98);
}
#sec2
{
	background-color: rgb(58,80,98);
}
#sec3
{
	width: 48%;
	background-color: green;
	float: left;
}
#sec4
{
	width: 48%;
	background-color: orange;
	float: right;
}
#sec5
{
	width: auto;
	margin-top: 10px;
	background-color: rgb(58,80,98);
	overflow: hidden;
}
/*.sec
{
	background-color: rgb(58,80,98);
	position: absolute;
	
}

.part
{
	position: relative;
	float: left;
}
#sec1
{
	left: 20px;
	right: 20px;
	top: 20px;
	height: 80px;
}
#sec2
{
	left: 20px;
	right: 20px;
	top: 120px;
	height: 160px;
}
#sec3
{
	left: 20px;
	right: 20px;
	top: 300px;
	height: 160px;
}
#sec4
{
	width: 10%;
	height: 160px;
}
#sec5
{
	width: 10%;
	height: 160px;
}*/
